<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="responsive-container-block leftSide">
      <p class="text-blk heading">What We Do</p>
      <p class="text-blk subHeading">
        Welcome to EMIFLEEX, your ultimate destination for movie enthusiasts!
        Our platform is designed to bring the world of movies to life, offering
        a range of features to enhance your cinematic experience.
      </p>
      <p class="text-blk subHeading">
        At EMIFLEEX, we believe in the power of exploration and community
        engagement. Explore a diverse collection of movies, share your thoughts
        through comments, and curate your personal favorites list.
      </p>
      <p class="text-blk subHeading">
        Join us on this cinematic journey, and let the movie exploration begin!
      </p>
    </div>
    <div class="responsive-container-block rightSide">
      <img
        class="number1img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg"
      />
      <img
        class="number2img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d14.png"
      />
      <img
        class="number3img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png"
      />
      <img
        class="number5img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png"
      />
      <iframe
        allowfullscreen="allowfullscreen"
        class="number4vid"
        poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png"
        src="https://www.youtube.com/embed/svg%3E?"
      >
      </iframe>
      <img
        class="number7img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png"
      />
      <img
        class="number6img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png"
      />
    </div>
  </div>
</div>
