<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>EMI MOVIES</title>
  <style>
    .bg-black {
      background-color: black !important;
    }

    .emi-movies-link {
      font-weight: bold; /* Example styling */
      color: #ffcc00;   /* Example styling */
    }
    .navbar-nav{
      margin-left: -600px;
    }
  </style>
</head>
<body >

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand " [routerLink]="['/']">EMI MOVIES</a>

    <!-- Navigation items -->
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link fs-5" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5" href="#" [routerLink]="['/favorited']">Favorited</a>
      </li>
    </ul>

    <!-- Search bar -->

  </div>
</nav>

<router-outlet ></router-outlet>

<!-- Your content goes here -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
