<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film Details</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-4">
      <img style="height: 95%; width: 100%;" src="https://image.tmdb.org/t/p/w500/{{ filmdetails.poster_path }}"
           alt="{{ filmdetails.title }}" class="img-fluid " />
    </div>
    <div class="col-md-8">
      <h2 class="mb-4">{{ filmdetails.title }}</h2>
      <p class="lead"><strong>Release Date:</strong> {{ filmdetails.release_date }}</p>
      <p><strong>Overview:</strong> {{ filmdetails.overview }}</p>
      <p><strong>Runtime:</strong> {{ filmdetails.runtime }} minutes</p>
      <p><strong>Popularity:</strong> {{ filmdetails.popularity }}</p>
      <p><strong>Vote Average:</strong> {{ filmdetails.vote_average }}</p>
      <p><strong>Budget:</strong> {{ filmdetails.budget }}$</p>
      <div *ngFor="let gn of genre" class="d-inline-block mr-2">
        <span class="badge badge-primary">{{ gn.name }}</span>
      </div>
      <!--<div class="NgxEditor__Wrapper mb-5 mt-2" style="height: 200px">
        <ngx-editor-menu [editor]="editor" > </ngx-editor-menu>
        <ngx-editor [editor]="editor" [ngModel]="html"  [disabled]="false"  [placeholder]="'Type here...'"></ngx-editor>
      </div>
      <button class="btn btn-primary" (click)="submitEditorContent()">Submit Content</button>-->

    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h3 class="mb-3">Comments</h3>
      <!-- Add a form for submitting comments -->
      <form (ngSubmit)="submit_commentaire()">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="formData.nom" name="nom" required >
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Leave a Comment:</label>
          <textarea class="form-control" id="comment" rows="3" [(ngModel)]="formData.comment" name="comment" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
      </form>



      <div class="container mt-4 mb-4"> <!-- Added margin-bottom -->
        <div class="row">
          <div class="col-md-10 offset-md-1"> <!-- Increased width and centered -->
            <h3 class="mb-3">Comments</h3>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let comment of commentaireFiltred">
                <div class="card mb-2">
                  <div class="card-body">
                    <p class="card-text">
                      <strong>Name:</strong> {{ comment.name }}
                    </p>
                    <p class="card-text">
                      <strong>Comment:</strong> {{ comment.commentaire }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
